.drawerContainer {
    position: fixed; /* 화면에 고정 */
    bottom: 0; /* 화면 하단에 위치 */
    // left: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    overflow: hidden;
    width: 100%;
    max-width: 336px;
    height: 87%; /* 전체 화면 높이의 절반으로 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbfafa;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}

.open {
    transform: translateY(10%); /* 드로어를 열 때 최종 위치 */
}

.close {
    transform: translateY(110%); /* 드로어를 닫을 때 화면 아래로 사라지도록 */
    // display: none;
}

.hidden {
    display: none;
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-70%);
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

.drawerBody {
    padding: 10px;
    overflow-y: auto;
    // height: 100%;
}

.drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #f0f0f0;
}

.drawerContent {
    margin-top: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
}
.drawerItem {
    padding: 10px;
    border: 1px solid #d4d3d3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 145px;
    height: 140px;
}

