.drawerContainer {
  position: fixed; /* 화면에 고정 */
  bottom: 0px; /* 화면 하단에 위치 */
  // left: translateX(-50%);
  transform: translateX(-48%);

  overflow: hidden;
  width: 100%;
  max-width: 336px;
  height: 68%; /* 전체 화면 높이의 절반으로 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9fa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
}

.open {
  transform: translateY(0); /* 드로어가 올라오는 상태 */
  margin-bottom: 10px;
}

.close {
  transform: translateY(100%); /* 드로어가 내려가는 상태 */
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.drawerContent {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  // overflow-y: auto; /* 콘텐츠가 초과할 경우 스크롤 가능 */
  max-height: calc(85vh - 60px); /* 헤더 제외한 높이 설정 */
}

.drawerItem {
  padding: 10px;
  border: 1.5px solid #cecece;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 110px;
  // box-shadow: 0px 0px 3px rgba(58, 22, 22, 0.1);
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
