.contentStepTitle {
    font-weight: 700;
    font-size: 15px;
    color: #333;
    padding-bottom: 8px;
}

.radioItem {
  opacity:0;
  display:none;
  // width:100px;
}

.radioItem + label{
  background-color: #fff;
  // width:136px;
  text-align: center;
  padding:10px 20px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-weight: 700;
  width:100%;
}

.radioItem:checked + label {
  color: #fff;
  background-color: #000;
  border: none ;
  font-weight: 700;
}

.radioItem[data-state="checked"]+Label {
    color: #fff;
    background-color: #000;
    border: none ;
    font-weight: 700;
}